button{
	border-radius:5px;
	background-color: transparent;
    border: 2px solid black;
	color: black; 
	padding: 10px 20px ;
	font-size: 16px;
}
.container1{
        border:1px solid #d9a74a;
        background-color: black ;
        height:40px;
		border-top-right-radius: 20px;
		text-align: left-;
		background: linear-gradient(to right ,black,black,#d9a74a);
		background-image=url(c.png);
      }
.container2{
        border:1px solid #D9A74A;
        height:30px;
		background:linear-gradient(to right, #F2CD5E, #D9A74A,#F2CD5E);
      }
.container{
	  text-align:center;
	  }
.no-underline {
    text-decoration: none;
}
.no {
    text-decoration: none;
}
.last{
	max-width: 600px;
    margin: 20px auto ;
    padding: 0 ;
}